<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Gotcha Rescue Pet Database</title>
    <script type="text/javascript" src="vendors/angular.min.js"></script>
    <script type="text/javascript" src="vendors/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="scripts/script.js"></script>
    <link rel="stylesheet" href="vendors/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/stylesheet.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body ng-app="myApp">

    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" ui-sref="#">Gotcha! Rescue Database</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="add">Add Pet</a></li>
        <li><a ui-sref="view">View Pets</a></li>
      </ul>
    </nav>

    <div class="container">
      <div ui-view></div>
    </div>
  </body>
</html>
