<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Gotcha Rescue Pet Database</title>
    <script type="text/javascript" src="vendors/angular.min.js"></script>
    <script type="text/javascript" src="scripts/script.js"></script>
    <link rel="stylesheet" href="vendors/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/stylesheet.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body ng-app="myApp">
    <div class="container">
      <h1>Gotcha! Rescue Pet Database</h1>

      <div ng-controller="addController">
        <h2>Add New Pet</h2>
        <form role="form" class="form-inline">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" ng-model="nameIn">
          </div>
          <div class="form-group">
            <label for="type">Type:</label>
            <input type="text" class="form-control" id="type" ng-model="typeIn">
          </div>
          <div class="form-group">
            <label for="age">Age:</label>
            <input type="text" class="form-control" id="age" ng-model="ageIn">
          </div>
          <div class="form-group">
            <label for="bio">Bio:</label>
            <input type="text" class="form-control" id="bio" ng-model="bioIn">
          </div>
          <div class="form-group">
            <label for="image">Image:</label>
            <input type="text" class="form-control" id="image" ng-model="imageIn">
          </div>
          <button id="addButton" ng-click="getInput()" type="submit" class="btn">Add</button>
        </form>
      </div>

      <div ng-controller="showController">
        <h2>Show Pets</h2>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Age</th>
                <th>Bio</th>
                <th>Image</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="pet in petRecords">
                <td>{{ pet.name }}</td>
                <td>{{ pet.type }}</td>
                <td>{{ pet.age }}</td>
                <td>{{ pet.bio }}</td>
                <td><img class="img-circle img-responsive" src="{{ pet.img }}"/></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
