<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gotcha! Rescue Pet Database</title>
    <script type="text/javascript" src="vendors/angular.min.js"></script>
    <script type="text/javascript" src="vendors/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="scripts/script.js"></script>
    <link rel="stylesheet" href="vendors/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/stylesheet.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body ng-app="myApp">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" ui-sref="home">Gotcha!</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a ui-sref="home">Home</a></li>
          <li><a ui-sref="add">Add Animal</a></li>
          <li><a ui-sref="view">View Animals</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div ui-view></div>
    </div>
  </body>
</html>
