<h2>Add New Pet</h2>

<form role="form" class="form-inline">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name">
  </div>
  <div class="form-group">
    <label for="type">Type:</label>
    <input type="text" class="form-control" id="type">
  </div>
  <div class="form-group">
    <label for="age">Age:</label>
    <input type="text" class="form-control" id="age">
  </div>
  <div class="form-group">
    <label for="image">Image:</label>
    <input type="text" class="form-control" id="image">
  </div>
  <button id="addButton" ng-click="getInput()" type="submit" class="btn">Add</button>
</form>
