<div class="jumbotron text-center">
    <h1>Gotcha!</h1>
    <h2>A tool for animal rescues to easily access adoptable animal profiles.</h2>
    <p>An application dedicated to the mission of rescuing, rehabilitating and placing animals in the <span class="text-danger">forever homes</span> they deserve.</p>
    <button type="button" class="btn btn-danger" name="button"><a ui-sref="add">Add New Animal</a></button>
    <button type="button" class="btn btn-danger" name="button"><a ui-sref="view">View All Animals</a></button>
</div>
